.form{
    height: 30rem;
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 8px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.1);
}

h1{
    color: var(--primary-color);
}

.inputBox{
    width: 80%;
}
.icon{
    color: var(--primary-color);
    cursor: pointer;
    margin-top: 1rem;
}

.inputContainer{
    width: 80%;
    display: flex;
    gap: 0.5rem;
} 

.errorMessage{
    color: #e51212;
}

.loginButton{
    width: 80%;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: var(--white-color);
    cursor: pointer;
    margin-top: 2rem;
}

.loginButton:hover{
    background-color: var(--secondary-color);
}

p{
    color: #1d1de6;
    cursor: pointer;
}

