/* #box1{
    height: 200px;
    width: 100px;
    border: 1px solid black;
    margin: 5px;
    text-align: center;
    background: rgb(23, 90, 88);
    color: rgb(238, 232, 233);
} */

/* .para{
    color: purple;
}

.newClass{
    background-color: rgba(245, 249, 140, 0.942);
} */

/* div{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: #d95656;
    margin: 15px;
} */

/* .dark{
    color: white;
    background-color: black;
}
.light{
    color: black;
    background-color: white;
} */