*{
    margin: 10%;
    padding: 0;
}
/* .header{
    height: 8vh;
    background-color: pink;
    display: flex;
    justify-content:space-around ;
    justify-items: center;
    line-height: 8vh;
}
ul{
    display: flex;
    gap: 3em;
}
li{
    list-style: none;
} */
